.g {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  letter-spacing: -0.31em;
  /* Webkit: odstranění mezer mezi bloky */
  word-spacing: -0.43em;
  text-rendering: optimizespeed;
  /* Webkit: fix pro text-rendering: optimizeLegibility */
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
}
.g [class*="g__i"] {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  font-family: 'Tahoma';
}
.g__i--1-6 {
  width: 16.66666667%;
}
.g__i--2-6 {
  width: 33.33333333%;
}
.g__i--3-6 {
  width: 50%;
}
.g__i--4-6 {
  width: 66.66666667%;
}
.g__i--5-6 {
  width: 83.33333333%;
}
.g__i--6-6 {
  width: 100%;
}
.g__i--hidden {
  display: none;
}
.g__i--visible {
  display: block;
}
@media (min-width: 35.5em) {
  .g__i--sm-1-6 {
    width: 16.66666667%;
  }
  .g__i--sm-2-6 {
    width: 33.33333333%;
  }
  .g__i--sm-3-6 {
    width: 50%;
  }
  .g__i--sm-4-6 {
    width: 66.66666667%;
  }
  .g__i--sm-5-6 {
    width: 83.33333333%;
  }
  .g__i--sm-6-6 {
    width: 100%;
  }
  .g__i--sm-hidden {
    display: none;
  }
  .g__i--sm-visible {
    display: block;
  }
}
@media (min-width: 48em) {
  .g__i--md-1-12 {
    width: 8.33333333%;
  }
  .g__i--md-2-12 {
    width: 16.66666667%;
  }
  .g__i--md-3-12 {
    width: 25%;
  }
  .g__i--md-4-12 {
    width: 33.33333333%;
  }
  .g__i--md-5-12 {
    width: 41.66666667%;
  }
  .g__i--md-6-12 {
    width: 50%;
  }
  .g__i--md-7-12 {
    width: 58.33333333%;
  }
  .g__i--md-8-12 {
    width: 66.66666667%;
  }
  .g__i--md-9-12 {
    width: 75%;
  }
  .g__i--md-10-12 {
    width: 83.33333333%;
  }
  .g__i--md-11-12 {
    width: 91.66666667%;
  }
  .g__i--md-12-12 {
    width: 100%;
  }
  .g__i--md-hidden {
    display: none;
  }
  .g__i--md-visible {
    display: block;
  }
}
@media (min-width: 64em) {
  .g__i--lg-1-12 {
    width: 8.33333333%;
  }
  .g__i--lg-2-12 {
    width: 16.66666667%;
  }
  .g__i--lg-3-12 {
    width: 25%;
  }
  .g__i--lg-4-12 {
    width: 33.33333333%;
  }
  .g__i--lg-5-12 {
    width: 41.66666667%;
  }
  .g__i--lg-6-12 {
    width: 50%;
  }
  .g__i--lg-7-12 {
    width: 58.33333333%;
  }
  .g__i--lg-8-12 {
    width: 66.66666667%;
  }
  .g__i--lg-9-12 {
    width: 75%;
  }
  .g__i--lg-10-12 {
    width: 83.33333333%;
  }
  .g__i--lg-11-12 {
    width: 91.66666667%;
  }
  .g__i--lg-12-12 {
    width: 100%;
  }
  .g__i--lg-hidden {
    display: none;
  }
  .g__i--lg-visible {
    display: block;
  }
}
@media (min-width: 80em) {
  .g__i--xl-1-24 {
    width: 4.16666667%;
  }
  .g__i--xl-2-24 {
    width: 8.33333333%;
  }
  .g__i--xl-3-24 {
    width: 12.5%;
  }
  .g__i--xl-4-24 {
    width: 16.66666667%;
  }
  .g__i--xl-5-24 {
    width: 20.83333333%;
  }
  .g__i--xl-6-24 {
    width: 25%;
  }
  .g__i--xl-7-24 {
    width: 29.16666667%;
  }
  .g__i--xl-8-24 {
    width: 33.33333333%;
  }
  .g__i--xl-9-24 {
    width: 37.5%;
  }
  .g__i--xl-10-24 {
    width: 41.66666667%;
  }
  .g__i--xl-11-24 {
    width: 45.83333333%;
  }
  .g__i--xl-12-24 {
    width: 50%;
  }
  .g__i--xl-13-24 {
    width: 54.16666667%;
  }
  .g__i--xl-14-24 {
    width: 58.33333333%;
  }
  .g__i--xl-15-24 {
    width: 62.5%;
  }
  .g__i--xl-16-24 {
    width: 66.66666667%;
  }
  .g__i--xl-17-24 {
    width: 70.83333333%;
  }
  .g__i--xl-18-24 {
    width: 75%;
  }
  .g__i--xl-19-24 {
    width: 79.16666667%;
  }
  .g__i--xl-20-24 {
    width: 83.33333333%;
  }
  .g__i--xl-21-24 {
    width: 87.5%;
  }
  .g__i--xl-22-24 {
    width: 91.66666667%;
  }
  .g__i--xl-23-24 {
    width: 95.83333333%;
  }
  .g__i--xl-24-24 {
    width: 100%;
  }
  .g__i--xl-hidden {
    display: none;
  }
  .g__i--xl-visible {
    display: block;
  }
}
.g [class*="g__i"] {
  position: relative;
}
.g__i--push-1-12 {
  left: 8.33333333%;
}
.g__i--pull-1-12 {
  left: -8.33333333%;
}
.g__i--push-2-12 {
  left: 16.66666667%;
}
.g__i--pull-2-12 {
  left: -16.66666667%;
}
.g__i--push-3-12 {
  left: 25%;
}
.g__i--pull-3-12 {
  left: -25%;
}
.g__i--push-4-12 {
  left: 33.33333333%;
}
.g__i--pull-4-12 {
  left: -33.33333333%;
}
.g__i--push-5-12 {
  left: 41.66666667%;
}
.g__i--pull-5-12 {
  left: -41.66666667%;
}
.g__i--push-6-12 {
  left: 50%;
}
.g__i--pull-6-12 {
  left: -50%;
}
.g__i--push-7-12 {
  left: 58.33333333%;
}
.g__i--pull-7-12 {
  left: -58.33333333%;
}
.g__i--push-8-12 {
  left: 66.66666667%;
}
.g__i--pull-8-12 {
  left: -66.66666667%;
}
.g__i--push-9-12 {
  left: 75%;
}
.g__i--pull-9-12 {
  left: -75%;
}
.g__i--push-10-12 {
  left: 83.33333333%;
}
.g__i--pull-10-12 {
  left: -83.33333333%;
}
.g__i--push-11-12 {
  left: 91.66666667%;
}
.g__i--pull-11-12 {
  left: -91.66666667%;
}
.g__i--push-12-12 {
  left: 100%;
}
.g__i--pull-12-12 {
  left: -100%;
}
.g__i--pureset {
  left: auto;
}
@media (min-width: 35.5em) {
  .g__i--sm-push-1-12 {
    left: 8.33333333%;
  }
  .g__i--sm-pull-1-12 {
    left: -8.33333333%;
  }
  .g__i--sm-push-2-12 {
    left: 16.66666667%;
  }
  .g__i--sm-pull-2-12 {
    left: -16.66666667%;
  }
  .g__i--sm-push-3-12 {
    left: 25%;
  }
  .g__i--sm-pull-3-12 {
    left: -25%;
  }
  .g__i--sm-push-4-12 {
    left: 33.33333333%;
  }
  .g__i--sm-pull-4-12 {
    left: -33.33333333%;
  }
  .g__i--sm-push-5-12 {
    left: 41.66666667%;
  }
  .g__i--sm-pull-5-12 {
    left: -41.66666667%;
  }
  .g__i--sm-push-6-12 {
    left: 50%;
  }
  .g__i--sm-pull-6-12 {
    left: -50%;
  }
  .g__i--sm-push-7-12 {
    left: 58.33333333%;
  }
  .g__i--sm-pull-7-12 {
    left: -58.33333333%;
  }
  .g__i--sm-push-8-12 {
    left: 66.66666667%;
  }
  .g__i--sm-pull-8-12 {
    left: -66.66666667%;
  }
  .g__i--sm-push-9-12 {
    left: 75%;
  }
  .g__i--sm-pull-9-12 {
    left: -75%;
  }
  .g__i--sm-push-10-12 {
    left: 83.33333333%;
  }
  .g__i--sm-pull-10-12 {
    left: -83.33333333%;
  }
  .g__i--sm-push-11-12 {
    left: 91.66666667%;
  }
  .g__i--sm-pull-11-12 {
    left: -91.66666667%;
  }
  .g__i--sm-push-12-12 {
    left: 100%;
  }
  .g__i--sm-pull-12-12 {
    left: -100%;
  }
  .g__i--sm-pureset {
    left: auto;
  }
}
@media (min-width: 48em) {
  .g__i--md-push-1-12 {
    left: 8.33333333%;
  }
  .g__i--md-pull-1-12 {
    left: -8.33333333%;
  }
  .g__i--md-push-2-12 {
    left: 16.66666667%;
  }
  .g__i--md-pull-2-12 {
    left: -16.66666667%;
  }
  .g__i--md-push-3-12 {
    left: 25%;
  }
  .g__i--md-pull-3-12 {
    left: -25%;
  }
  .g__i--md-push-4-12 {
    left: 33.33333333%;
  }
  .g__i--md-pull-4-12 {
    left: -33.33333333%;
  }
  .g__i--md-push-5-12 {
    left: 41.66666667%;
  }
  .g__i--md-pull-5-12 {
    left: -41.66666667%;
  }
  .g__i--md-push-6-12 {
    left: 50%;
  }
  .g__i--md-pull-6-12 {
    left: -50%;
  }
  .g__i--md-push-7-12 {
    left: 58.33333333%;
  }
  .g__i--md-pull-7-12 {
    left: -58.33333333%;
  }
  .g__i--md-push-8-12 {
    left: 66.66666667%;
  }
  .g__i--md-pull-8-12 {
    left: -66.66666667%;
  }
  .g__i--md-push-9-12 {
    left: 75%;
  }
  .g__i--md-pull-9-12 {
    left: -75%;
  }
  .g__i--md-push-10-12 {
    left: 83.33333333%;
  }
  .g__i--md-pull-10-12 {
    left: -83.33333333%;
  }
  .g__i--md-push-11-12 {
    left: 91.66666667%;
  }
  .g__i--md-pull-11-12 {
    left: -91.66666667%;
  }
  .g__i--md-push-12-12 {
    left: 100%;
  }
  .g__i--md-pull-12-12 {
    left: -100%;
  }
  .g__i--md-pureset {
    left: auto;
  }
}
@media (min-width: 64em) {
  .g__i--lg-push-1-12 {
    left: 8.33333333%;
  }
  .g__i--lg-pull-1-12 {
    left: -8.33333333%;
  }
  .g__i--lg-push-2-12 {
    left: 16.66666667%;
  }
  .g__i--lg-pull-2-12 {
    left: -16.66666667%;
  }
  .g__i--lg-push-3-12 {
    left: 25%;
  }
  .g__i--lg-pull-3-12 {
    left: -25%;
  }
  .g__i--lg-push-4-12 {
    left: 33.33333333%;
  }
  .g__i--lg-pull-4-12 {
    left: -33.33333333%;
  }
  .g__i--lg-push-5-12 {
    left: 41.66666667%;
  }
  .g__i--lg-pull-5-12 {
    left: -41.66666667%;
  }
  .g__i--lg-push-6-12 {
    left: 50%;
  }
  .g__i--lg-pull-6-12 {
    left: -50%;
  }
  .g__i--lg-push-7-12 {
    left: 58.33333333%;
  }
  .g__i--lg-pull-7-12 {
    left: -58.33333333%;
  }
  .g__i--lg-push-8-12 {
    left: 66.66666667%;
  }
  .g__i--lg-pull-8-12 {
    left: -66.66666667%;
  }
  .g__i--lg-push-9-12 {
    left: 75%;
  }
  .g__i--lg-pull-9-12 {
    left: -75%;
  }
  .g__i--lg-push-10-12 {
    left: 83.33333333%;
  }
  .g__i--lg-pull-10-12 {
    left: -83.33333333%;
  }
  .g__i--lg-push-11-12 {
    left: 91.66666667%;
  }
  .g__i--lg-pull-11-12 {
    left: -91.66666667%;
  }
  .g__i--lg-push-12-12 {
    left: 100%;
  }
  .g__i--lg-pull-12-12 {
    left: -100%;
  }
  .g__i--lg-pureset {
    left: auto;
  }
}
@media (min-width: 80em) {
  .g__i--xl-push-1-12 {
    left: 8.33333333%;
  }
  .g__i--xl-pull-1-12 {
    left: -8.33333333%;
  }
  .g__i--xl-push-2-12 {
    left: 16.66666667%;
  }
  .g__i--xl-pull-2-12 {
    left: -16.66666667%;
  }
  .g__i--xl-push-3-12 {
    left: 25%;
  }
  .g__i--xl-pull-3-12 {
    left: -25%;
  }
  .g__i--xl-push-4-12 {
    left: 33.33333333%;
  }
  .g__i--xl-pull-4-12 {
    left: -33.33333333%;
  }
  .g__i--xl-push-5-12 {
    left: 41.66666667%;
  }
  .g__i--xl-pull-5-12 {
    left: -41.66666667%;
  }
  .g__i--xl-push-6-12 {
    left: 50%;
  }
  .g__i--xl-pull-6-12 {
    left: -50%;
  }
  .g__i--xl-push-7-12 {
    left: 58.33333333%;
  }
  .g__i--xl-pull-7-12 {
    left: -58.33333333%;
  }
  .g__i--xl-push-8-12 {
    left: 66.66666667%;
  }
  .g__i--xl-pull-8-12 {
    left: -66.66666667%;
  }
  .g__i--xl-push-9-12 {
    left: 75%;
  }
  .g__i--xl-pull-9-12 {
    left: -75%;
  }
  .g__i--xl-push-10-12 {
    left: 83.33333333%;
  }
  .g__i--xl-pull-10-12 {
    left: -83.33333333%;
  }
  .g__i--xl-push-11-12 {
    left: 91.66666667%;
  }
  .g__i--xl-pull-11-12 {
    left: -91.66666667%;
  }
  .g__i--xl-push-12-12 {
    left: 100%;
  }
  .g__i--xl-pull-12-12 {
    left: -100%;
  }
  .g__i--xl-pureset {
    left: auto;
  }
}
.g [class*="g__i"] {
  background: gray;
  border: 1px solid red;
  box-sizing: border-box;
}
