.g {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  letter-spacing: -0.31em;
  /* Webkit: odstranění mezer mezi bloky */
  *letter-spacing: normal;
  /* reset IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8:  */
  word-spacing: -0.43em;
  text-rendering: optimizespeed;
  /* Webkit: fix pro text-rendering: optimizeLegibility */
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
}
[class*="g__i"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 100%;
  background: red;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  font-family: 'Tahoma';
}
.g__i--1-12 {
  width: 8.33333333%;
}
.g__i--2-12 {
  width: 16.66666667%;
}
.g__i--3-12 {
  width: 25%;
}
.g__i--4-12 {
  width: 33.33333333%;
}
.g__i--5-12 {
  width: 41.66666667%;
}
.g__i--6-12 {
  width: 50%;
}
.g__i--7-12 {
  width: 58.33333333%;
}
.g__i--8-12 {
  width: 66.66666667%;
}
.g__i--9-12 {
  width: 75%;
}
.g__i--10-12 {
  width: 83.33333333%;
}
.g__i--11-12 {
  width: 91.66666667%;
}
.g__i--12-12 {
  width: 100%;
}
.g__i__hidden {
  display: none;
}
.g__i__visible {
  display: block;
}
@media (min-width: 35.5em) {
  .g__i--sm-1-12 {
    width: 8.33333333%;
  }
  .g__i--sm-2-12 {
    width: 16.66666667%;
  }
  .g__i--sm-3-12 {
    width: 25%;
  }
  .g__i--sm-4-12 {
    width: 33.33333333%;
  }
  .g__i--sm-5-12 {
    width: 41.66666667%;
  }
  .g__i--sm-6-12 {
    width: 50%;
  }
  .g__i--sm-7-12 {
    width: 58.33333333%;
  }
  .g__i--sm-8-12 {
    width: 66.66666667%;
  }
  .g__i--sm-9-12 {
    width: 75%;
  }
  .g__i--sm-10-12 {
    width: 83.33333333%;
  }
  .g__i--sm-11-12 {
    width: 91.66666667%;
  }
  .g__i--sm-12-12 {
    width: 100%;
  }
  .g__i__hidden--sm {
    display: none;
  }
  .g__i__visible--sm {
    display: block;
  }
}
@media (min-width: 48em) {
  .g__i--md-1-12 {
    width: 8.33333333%;
  }
  .g__i--md-2-12 {
    width: 16.66666667%;
  }
  .g__i--md-3-12 {
    width: 25%;
  }
  .g__i--md-4-12 {
    width: 33.33333333%;
  }
  .g__i--md-5-12 {
    width: 41.66666667%;
  }
  .g__i--md-6-12 {
    width: 50%;
  }
  .g__i--md-7-12 {
    width: 58.33333333%;
  }
  .g__i--md-8-12 {
    width: 66.66666667%;
  }
  .g__i--md-9-12 {
    width: 75%;
  }
  .g__i--md-10-12 {
    width: 83.33333333%;
  }
  .g__i--md-11-12 {
    width: 91.66666667%;
  }
  .g__i--md-12-12 {
    width: 100%;
  }
  .g__i__hidden--md {
    display: none;
  }
  .g__i__visible--md {
    display: block;
  }
}
@media (min-width: 64em) {
  .g__i--lg-1-12 {
    width: 8.33333333%;
  }
  .g__i--lg-2-12 {
    width: 16.66666667%;
  }
  .g__i--lg-3-12 {
    width: 25%;
  }
  .g__i--lg-4-12 {
    width: 33.33333333%;
  }
  .g__i--lg-5-12 {
    width: 41.66666667%;
  }
  .g__i--lg-6-12 {
    width: 50%;
  }
  .g__i--lg-7-12 {
    width: 58.33333333%;
  }
  .g__i--lg-8-12 {
    width: 66.66666667%;
  }
  .g__i--lg-9-12 {
    width: 75%;
  }
  .g__i--lg-10-12 {
    width: 83.33333333%;
  }
  .g__i--lg-11-12 {
    width: 91.66666667%;
  }
  .g__i--lg-12-12 {
    width: 100%;
  }
  .g__i__hidden--lg {
    display: none;
  }
  .g__i__visible--lg {
    display: block;
  }
}
@media (min-width: 80em) {
  .g__i--xl-1-12 {
    width: 8.33333333%;
  }
  .g__i--xl-2-12 {
    width: 16.66666667%;
  }
  .g__i--xl-3-12 {
    width: 25%;
  }
  .g__i--xl-4-12 {
    width: 33.33333333%;
  }
  .g__i--xl-5-12 {
    width: 41.66666667%;
  }
  .g__i--xl-6-12 {
    width: 50%;
  }
  .g__i--xl-7-12 {
    width: 58.33333333%;
  }
  .g__i--xl-8-12 {
    width: 66.66666667%;
  }
  .g__i--xl-9-12 {
    width: 75%;
  }
  .g__i--xl-10-12 {
    width: 83.33333333%;
  }
  .g__i--xl-11-12 {
    width: 91.66666667%;
  }
  .g__i--xl-12-12 {
    width: 100%;
  }
  .g__i__hidden--xl {
    display: none;
  }
  .g__i__visible--xl {
    display: block;
  }
}
