.g {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-size: 0;
}
[class*="g__i"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 1rem;
  background: red;
  width: 100%;
}
.g__i--1-12 {
  width: 8.33333333%;
}
.g__i--2-12 {
  width: 16.66666667%;
}
.g__i--3-12 {
  width: 25%;
}
.g__i--4-12 {
  width: 33.33333333%;
}
.g__i--5-12 {
  width: 41.66666667%;
}
.g__i--6-12 {
  width: 50%;
}
.g__i--7-12 {
  width: 58.33333333%;
}
.g__i--8-12 {
  width: 66.66666667%;
}
.g__i--9-12 {
  width: 75%;
}
.g__i--10-12 {
  width: 83.33333333%;
}
.g__i--11-12 {
  width: 91.66666667%;
}
.g__i--12-12 {
  width: 100%;
}
@media (min-width: 450px) {
  .g__i--450-1-12 {
    width: 8.33333333%;
  }
  .g__i--450-2-12 {
    width: 16.66666667%;
  }
  .g__i--450-3-12 {
    width: 25%;
  }
  .g__i--450-4-12 {
    width: 33.33333333%;
  }
  .g__i--450-5-12 {
    width: 41.66666667%;
  }
  .g__i--450-6-12 {
    width: 50%;
  }
  .g__i--450-7-12 {
    width: 58.33333333%;
  }
  .g__i--450-8-12 {
    width: 66.66666667%;
  }
  .g__i--450-9-12 {
    width: 75%;
  }
  .g__i--450-10-12 {
    width: 83.33333333%;
  }
  .g__i--450-11-12 {
    width: 91.66666667%;
  }
  .g__i--450-12-12 {
    width: 100%;
  }
}
@media (min-width: 600px) {
  .g__i--600-1-12 {
    width: 8.33333333%;
  }
  .g__i--600-2-12 {
    width: 16.66666667%;
  }
  .g__i--600-3-12 {
    width: 25%;
  }
  .g__i--600-4-12 {
    width: 33.33333333%;
  }
  .g__i--600-5-12 {
    width: 41.66666667%;
  }
  .g__i--600-6-12 {
    width: 50%;
  }
  .g__i--600-7-12 {
    width: 58.33333333%;
  }
  .g__i--600-8-12 {
    width: 66.66666667%;
  }
  .g__i--600-9-12 {
    width: 75%;
  }
  .g__i--600-10-12 {
    width: 83.33333333%;
  }
  .g__i--600-11-12 {
    width: 91.66666667%;
  }
  .g__i--600-12-12 {
    width: 100%;
  }
}
@media (min-width: 900px) {
  .g__i--900-1-12 {
    width: 8.33333333%;
  }
  .g__i--900-2-12 {
    width: 16.66666667%;
  }
  .g__i--900-3-12 {
    width: 25%;
  }
  .g__i--900-4-12 {
    width: 33.33333333%;
  }
  .g__i--900-5-12 {
    width: 41.66666667%;
  }
  .g__i--900-6-12 {
    width: 50%;
  }
  .g__i--900-7-12 {
    width: 58.33333333%;
  }
  .g__i--900-8-12 {
    width: 66.66666667%;
  }
  .g__i--900-9-12 {
    width: 75%;
  }
  .g__i--900-10-12 {
    width: 83.33333333%;
  }
  .g__i--900-11-12 {
    width: 91.66666667%;
  }
  .g__i--900-12-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .g__i--1200-1-12 {
    width: 8.33333333%;
  }
  .g__i--1200-2-12 {
    width: 16.66666667%;
  }
  .g__i--1200-3-12 {
    width: 25%;
  }
  .g__i--1200-4-12 {
    width: 33.33333333%;
  }
  .g__i--1200-5-12 {
    width: 41.66666667%;
  }
  .g__i--1200-6-12 {
    width: 50%;
  }
  .g__i--1200-7-12 {
    width: 58.33333333%;
  }
  .g__i--1200-8-12 {
    width: 66.66666667%;
  }
  .g__i--1200-9-12 {
    width: 75%;
  }
  .g__i--1200-10-12 {
    width: 83.33333333%;
  }
  .g__i--1200-11-12 {
    width: 91.66666667%;
  }
  .g__i--1200-12-12 {
    width: 100%;
  }
}
